@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "variable";
@import "../../../node_modules/bootstrap/scss/mixins";

body {
    font-size: $font-size-base;
    background-color: #f8f8f8;
    font-family: $font-family-sans-serif !important;
}

.p-100 {
    padding-top: 100px;
}